<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'MW<sub>e</sub>'"
    (valChange)="onChange(['nominal.electric.power'],+$event)"
    [(val)]="p2gParams['payload']['parameters']['configuration']['nominal.electric.power']"
    [compId]="'p2g_nominal.electric.power'" [inputHtmlLabel1]="'P<sub>Nominal</sub>'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'%'" (valChange)="onChange(['efficiency.electrolysis'],+$event)"
    [(val)]="p2gParams['payload']['parameters']['configuration']['efficiency.electrolysis']"
    [compId]="'p2g_efficiency.electrolysis'" [inputHtmlLabel1]="'Eff<sub>elect</sub>'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'%'" (valChange)="onChange(['efficiency.methanation'],+$event)"
    [(val)]="p2gParams['payload']['parameters']['configuration']['efficiency.methanation']"
    [compId]="'p2g_efficiency.methanation'" [inputHtmlLabel1]="'Eff<sub>meth</sub>'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'%'" (valChange)="onChange(['efficiency.thermal'],+$event)"
    [(val)]="p2gParams['payload']['parameters']['configuration']['efficiency.thermal']"
    [compId]="'p2g_efficiency.thermal'" [inputHtmlLabel1]="'Eff<sub>th</sub>'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="''" (valChange)="onChange(['cos_phi'],+$event)"
    [(val)]="p2gParams['payload']['parameters']['configuration']['cos_phi']" [compId]="'p2g_cos_phi'"
    [inputHtmlLabel1]="'cos(phi)'">
</ngx-input-field>