<nb-card accent="active">
  <nb-card-header>Simulation Parameters</nb-card-header>
  <nb-card-body>

    <div class="col-md-12">
      <!-- initialize map=id for mapbox -->
      <div id='map'></div>

      <!-- Name and Description -->
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              <input class="m-2" type="text" nbInput fullWidth fieldSize="small" placeholder="Simulation Name"
                [ngModel]="generalParams.formName" (ngModelChange)="formNameChange($event)">
            </div>
            <div class="col-md-6">
              <div *ngIf="generalParams.formName === ''" class="requiredField"> Simulation Name is
                required</div>
              <div *ngIf="generalParams.formName.includes('  -  ')" class="requiredField">
                '[space][space]-[space][space]' is a
                reserved word!</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <textarea class="m-2" nbInput fullWidth shape="round" (change)="handleDescriptionChange($event)"
                placeholder="Simulation Description">{{generalParams.formDescription}}</textarea>
            </div>
            <div class="col-md-6">
              <div *ngIf="generalParams.formDescription === ''" class="requiredTextarea"> Simulation Description is
                required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>

      <hr>


      <div class="row">
        <div class="col-md-4">

          <!-- Selection of Location and Grid Type -->
          <div class="row">
            <div class="col-md-6">
              <nb-select class="m-2" placeholder="Select grid"
                (selectedChange)="animateImage('transitionName1',$event)">
                <nb-option value="Turin">Turin</nb-option>
                <nb-option value="Athens" disabled>Athens</nb-option>
              </nb-select>
            </div>
            <div class="row">
              <div class=" col-md-12">
                <nb-tabset (changeTab)="changeTab($event)">
                  <nb-tab tabTitle="Electric Grid">
                    <nb-radio-group class="m-2" (valueChange)="updateSelectedModel($event,'elec')"
                      (click)="onRadioButtonClicked($event)" #elecRadio name="elecRadio"
                      [value]="loadedSelections['elec']">
                      <nb-radio [value]="'1 Node'">1 Node</nb-radio>
                      <nb-radio [value]="'8 Node'">8 Node</nb-radio>
                    </nb-radio-group>
                  </nb-tab>
                  <nb-tab tabTitle="District Heating">
                    <nb-radio-group class="m-2" (valueChange)="updateSelectedModel($event,'dh')"
                      (click)="onRadioButtonClicked($event)" #dhRadio name="dhRadio" [value]="loadedSelections['dh']">
                      <nb-radio [value]="'1 Node'">1 Node</nb-radio>
                      <nb-radio [value]="'3 Node'">3 Node</nb-radio>
                    </nb-radio-group>
                  </nb-tab>
                  <nb-tab tabTitle="Gas Network">
                    <nb-radio-group class="m-2" (valueChange)="updateSelectedModel($event,'gas')"
                      (click)="onRadioButtonClicked($event)" #gasRadio name="gasRadio"
                      [value]="loadedSelections['gas']">
                      <nb-radio [value]="'1 Node'">1 Node</nb-radio>
                    </nb-radio-group>
                  </nb-tab>
                </nb-tabset>
              </div>
            </div>
          </div>

          <!-- Configuration Options -->
          <div class="row">
            <div class="col-md-6">
              <div *ngIf="openParams()">

                <hr>

                <div class="form-group row">
                  <div class="col-sm-2"></div>
                  <label for="dt" class="startingLabels col-sm-6 col-form-label">Time Step</label>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-md-8">
                        <input type="number" class="form-control" id="dt"
                          [ngModel]="paramInit['payload']['simulation']['time.step']"
                          (ngModelChange)="changeTimeStepByUser($event)">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5 checkBoxMove">
                        <div class="ui form">
                          <div class="grouped fields">
                            <div class="field">
                              <sui-checkbox [ngModel]="generalParams.timeStep['mins']"
                                [isReadonly]="generalParams.timeStep['mins']"
                                (ngModelChange)="handleTimeStep($event,'mins')">
                                Mins
                              </sui-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 checkBoxMove">
                        <div class="ui form">
                          <div class="grouped fields">
                            <div class="field">
                              <sui-checkbox [ngModel]="generalParams.timeStep['hours']"
                                [isReadonly]="generalParams.timeStep['hours']"
                                (ngModelChange)="handleTimeStep($event,'hours')">
                                Hours</sui-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-1"></div>
                  <label for="simulation-time" class="startingLabels col-sm-6 col-form-label m-1">Simulation
                    Horizon</label>
                  <div class="row">
                    <div class="ui icon input datePickerButton">
                      <input nbInput [nbDatepicker]="formpicker" placeholder="Choose a Date range"
                        (click)="dateRangeChange()" [ngModel]="generalParams.loadRangeDate">
                      <i class="calendar alternate outline icon"></i>
                    </div>
                    <nb-rangepicker (rangeChange)="handleDateChange($event)" #formpicker>
                    </nb-rangepicker>
                  </div>

                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-md-8">
                        <input type="number" class="form-control" id="simulation-time"
                          [ngModel]="paramInit['payload']['simulation']['simulation.time']"
                          (ngModelChange)="changeSimulationTimeByUser($event)">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5 checkBoxMove">
                        <div class="ui form">
                          <div class="grouped fields">
                            <div class="field">
                              <sui-checkbox [ngModel]="generalParams.simulationTime.days"
                                [isReadonly]="generalParams.simulationTime.days"
                                (ngModelChange)="handleSimulationTime($event,'days')" #checkbox2>
                                Days</sui-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 checkBoxMove">
                        <div class="ui form">
                          <div class="grouped fields">
                            <div class="field">
                              <sui-checkbox [ngModel]="generalParams.simulationTime.hours"
                                [isReadonly]="generalParams.simulationTime.hours"
                                (ngModelChange)="handleSimulationTime($event,'hours')">
                                Hours</sui-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <h6>Upload Electricity Timeseries</h6>
                </div>
                <div class="row">
                  <label class="upload-button m-2">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event,0)"
                      [uploadInput]="uploadInput" multiple class="btn btn-primary">
                    <span class="btn btn-primary m-2">{{getFileName(0)}}</span>
                  </label>
                </div>
                <div class="row">
                  <h6>Upload Heat Timeseries </h6>
                </div>
                <div class="row">
                  <label class="upload-button m-2">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event,1)"
                      [uploadInput]="uploadInput" multiple class="btn btn-primary">
                    <span class="btn btn-primary m-2">{{getFileName(1)}}</span>
                  </label>
                </div>

                <div class="row">
                  <button *ngIf="checkDefaultData() && !isLoadModule" nbButton hero class="m-3" status="info"
                    shape="round" (click)="animateInfo()">Continue</button>
                  <div *ngIf="!checkDefaultData() && !isLoadModule" class="requiredField">
                    {{generalParams.errorMessage}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div *ngIf="openParams()" class="col-md-12">
                <div *ngIf="generalParams.gridImage">
                  <img [suiTransition]="transitionController1" [src]="generalParams.gridImage">
                  <!-- <ngx-eight-node-el-grid></ngx-eight-node-el-grid> -->
                </div>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="openParams()" class="col-md-8">
          <ngx-leaflet-map [load]="generalParams.showMap" [(coordinates)]="generalParams.coordinates"
            (coordChange)="setCoord($event)">
          </ngx-leaflet-map>
        </div>
      </div>
    </div>

  </nb-card-body>
</nb-card>