<nb-card accent="active">
  <nb-card-header>Simulation Parameters</nb-card-header>
  <nb-card-body>

    <div class="col-md-12">
      <!-- initialize map=id for mapbox -->
      <div id='map'></div>

      <!-- Name and Description -->
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              <input class="m-2" type="text" nbInput fullWidth fieldSize="small" placeholder="Simulation Name"
                [ngModel]="generalParams.formName" (ngModelChange)="formNameChange($event)">
            </div>
            <div class="col-md-6">
              <div *ngIf="generalParams.formName === ''" class="requiredField"> Simulation Name is
                required</div>
              <div *ngIf="generalParams.formName.includes('  -  ')" class="requiredField">
                '[space][space]-[space][space]' is a
                reserved word!</div>
              <div *ngIf="generalParams.formName.includes('|')" class="requiredField">
                The symbol '|' is reserved!</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <textarea class="m-2" nbInput fullWidth shape="round" (change)="handleDescriptionChange($event)"
                placeholder="Simulation Description">{{generalParams.formDescription}}</textarea>
            </div>
            <div class="col-md-6">
              <div *ngIf="generalParams.formDescription === ''" class="requiredTextarea"> Simulation Description is
                required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>

      <hr>


      <div class="row">
        <div class="col-md-6">

          <!-- Selection of Location and Grid Type -->
          <div class="row">
            <div class="col-md-6">
              <nb-select class="m-2" placeholder="Select grid"
                (selectedChange)="animateImage('transitionName1',$event)">
                <nb-option value="Turin">Turin</nb-option>
                <nb-option value="Athens" disabled>Athens</nb-option>
              </nb-select>
            </div>
            <div class="row">
              <div class=" col-md-12">
                <nb-tabset (changeTab)="changeTab($event)">
                  <nb-tab tabTitle="Electric Grid">
                    <nb-radio-group class="m-2" (valueChange)="updateSelectedModel($event,'elec')"
                      (click)="onRadioButtonClicked($event)" #elecRadio name="elecRadio"
                      [value]="loadedSelections['elec']">
                      <nb-radio [value]="'1 Node'">1 Node</nb-radio>
                      <nb-radio [value]="'8 Node'">8 Node</nb-radio>
                    </nb-radio-group>
                  </nb-tab>
                  <nb-tab tabTitle="District Heating">
                    <nb-radio-group class="m-2" (valueChange)="updateSelectedModel($event,'dh')"
                      (click)="onRadioButtonClicked($event)" #dhRadio name="dhRadio" [value]="loadedSelections['dh']">
                      <nb-radio [value]="'1 Node'">1 Node</nb-radio>
                      <nb-radio [value]="'3 Node'">3 Node</nb-radio>
                    </nb-radio-group>
                  </nb-tab>
                  <nb-tab tabTitle="Gas Network">
                    <nb-radio-group class="m-2" (valueChange)="updateSelectedModel($event,'gas')"
                      (click)="onRadioButtonClicked($event)" #gasRadio name="gasRadio"
                      [value]="loadedSelections['gas']">
                      <nb-radio [value]="'1 Node'">1 Node</nb-radio>
                    </nb-radio-group>
                  </nb-tab>
                </nb-tabset>
              </div>
            </div>
          </div>

          <!-- Configuration Options -->
          <div class="row">
            <div class="col-md-4">
              <div *ngIf="openParams()">

                <hr>

                <div class="form-group row">
                  <label for="dt" class="col-sm-6 col-form-label" [ngStyle]="{'line-height': '31px'}">Time Step
                    (Minutes)</label>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-4">
                            <sui-checkbox [ngModel]="timeStep['min15']" [isReadonly]="timeStep['min15']"
                              (ngModelChange)="handleTimeStep($event,'min15')">15</sui-checkbox>
                          </div>
                          <div class="col-md-5">
                            <sui-checkbox [ngModel]="timeStep['min60']" [isReadonly]="timeStep['min60']"
                              (ngModelChange)="handleTimeStep($event,'min60')">60</sui-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="simulation-time" class="col-sm-6 col-form-label m-1"
                    [ngStyle]="{'line-height': '31px'}">Simulation
                    Horizon</label>
                  <div class=" row">
                    <div class="ui icon input datePickerButton" [ngStyle]="{'width':'100%'}">
                      <input *ngIf="isLoadModule" nbInput [nbDatepicker]="formpicker" placeholder="Choose a Date range"
                        (click)="dateRangeChange()" [value]="calculateDateInput()">
                      <input *ngIf="!isLoadModule" nbInput [nbDatepicker]="formpicker" placeholder="Choose a Date range"
                        (click)="dateRangeChange()">
                      <i class="calendar alternate outline icon"></i>
                    </div>

                    <div class="col-md-12">
                      <nb-rangepicker (rangeChange)="handleDateChange($event)" [min]="min" [max]="max" #formpicker>
                      </nb-rangepicker>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <button *ngIf="checkDefaultData() && !isLoadModule" nbButton hero class="m-3" status="info"
                    shape="round" (click)="animateInfo()">Continue</button>
                  <div *ngIf="!checkDefaultData() && !isLoadModule" class="requiredField">
                    {{generalParams.errorMessage}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-1"></div>
            <div class="col-md-7">
              <div *ngIf="openParams()" class="col-md-12">
                <div *ngIf="generalParams.gridImage">
                  <img *ngIf="generalParams.gridImage!=='assets/images/grid.png'"
                    [suiTransition]="transitionController1" [src]="generalParams.gridImage">
                  <ngx-eight-node-el-grid *ngIf="generalParams.gridImage==='assets/images/grid.png'">
                  </ngx-eight-node-el-grid>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-1"></div>
        <div *ngIf="openParams()" class="col-md-5">
          <ngx-leaflet-map [load]="generalParams.showMap" [(coordinates)]="generalParams.coordinates"
            (coordChange)="setCoord($event)">
          </ngx-leaflet-map>
        </div>
      </div>
    </div>

  </nb-card-body>
</nb-card>