<div class="row">
  <div class="col">

    <nb-card>
      <nb-card-header>Start Simulation</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-md-3">
            <nb-select placeholder="Select Simulation Type" [(selected)]="selectedItem">
              <nb-option value="single">Single Simulation</nb-option>
              <nb-option value="comparison">Comparison Simulation</nb-option>
            </nb-select>
          </div>
          <div class="col-md-2" *ngIf="selectedItem === 'single'">
            <button nbButton hero status="info" (click)="openDialogBox()">{{formName}}</button>
          </div>
          <div class="col-md-2" *ngIf="selectedItem === 'comparison'">
            <button nbButton hero status="info" (click)="openDialogBox()">{{selectedForms}}</button>
          </div>
          <div class="col-md-2">
            <button *ngIf="selectedItem === 'single' || selectedItem === 'comparison'" nbButton type="button"
              [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="success"
              size="medium" class="start-upload-btn" (click)="startSimulation()">
              Start Simulation
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>


    <div *ngIf="showArea">
      <nb-card *ngFor="let areaCh of areaChart">
        <nb-card-header>{{areaCh.title}}</nb-card-header>
        <nb-card-body>
          <ngx-simulation-area-stack [data]="areaCh.data"></ngx-simulation-area-stack>
        </nb-card-body>
      </nb-card>
    </div>

    <div *ngIf="showBar">
      <nb-card *ngFor="let barCh of barChart">
        <nb-card-header>{{barCh.title}}</nb-card-header>
        <nb-card-body>
          <ngx-simulation-bar [yAxisLabel]="barCh.yAxisLabel" [yRightAxisLabel]="barCh.yRightAxisLabel" [data]="barCh.data"></ngx-simulation-bar>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>