<div class="row">
  <div class="col">

    <nb-card>
      <nb-card-header>Upload Simulation Input Files</nb-card-header>
      <nb-card-body>

        <button nbButton type="button" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
          nbSpinnerMessage="" status="success" size="large" class="start-upload-btn m-2" (click)="startSimulation()">
          Start Simulation
        </button>

      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Electrical Demand, RES producibility, dispatch of the electric surplus</nb-card-header>
      <nb-card-body>
        <div *ngIf="simulationStarted">
          <ngx-simulation-area-stack [data]="areaChart1"></ngx-simulation-area-stack>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Fulfilment of the Element Demand</nb-card-header>
      <nb-card-body>
        <div *ngIf="simulationStarted">
          <ngx-simulation-area-stack [data]="areaChart2"></ngx-simulation-area-stack>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Fulfilment of the Heat Demand (Both DH and LHD)</nb-card-header>
      <nb-card-body>
        <div *ngIf="simulationStarted">
          <ngx-simulation-area-stack [data]="areaChart3"></ngx-simulation-area-stack>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>LCOE and economical Results</nb-card-header>
      <nb-card-body>
        <div *ngIf="simulationStarted">
          <ngx-simulation-bar [data]="areaChart4"></ngx-simulation-bar>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Yearly CO2 emissions</nb-card-header>
      <nb-card-body>
        <div *ngIf="simulationStarted">
          <ngx-simulation-bar [data]="areaChart5"></ngx-simulation-bar>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Yearly RES producibility dispatch</nb-card-header>
      <nb-card-body>
        <div *ngIf="simulationStarted">
          <ngx-simulation-bar [data]="areaChart6"></ngx-simulation-bar>
        </div>
      </nb-card-body>
    </nb-card>

  </div>
</div>