@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

nb-select {
  margin-left: 10%;
}

.errorTextarea {
  color: #ff4c4c;
  margin-top: 2.5%;
}

.successTextarea {
  color:  lightgreen;
  margin-top: 2.5%;
}
