<div class="row">
  <div class="col">

    <nb-card accent="active">
      <nb-card-header>Simulation Comparison</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-md-2">
            <button nbButton hero status="info" (click)="openDialogBox()">{{selectedForms}}</button>
          </div>
          <div class="col-md-2">
            <button *ngIf="selectedForms !== 'Select Saved Simulations'" nbButton type="button" [nbSpinner]="loading"
              nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="success" size="medium"
              class="start-upload-btn" (click)="startComparison()">
              Comparison Start
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <div *ngIf="showLine">
      <nb-card *ngFor="let lineCh of lineChart" accent="active">
        <nb-card-header>{{lineCh.title}}</nb-card-header>
        <nb-card-body>
          <ngx-simulation-line [data]="lineCh.data"></ngx-simulation-line>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>