<nb-card size="large" accent="active">
    <nb-card-header>

        <!--    Tabs  and Dropdown with Nodes-->
        <nb-tabset (changeTab)="changeTab($event)">
            <nb-tab tabTitle="Electric Grid">
            </nb-tab>
            <nb-tab tabTitle="Centralised Heat">
            </nb-tab>
            <nb-tab tabTitle="Localised Heat">
            </nb-tab>
        </nb-tabset>

        <div *ngIf="currentTab==='Electric Grid'" class="dropdown ghost-dropdown" ngbDropdown>
            <button type="button" class="btn btn-sm" ngbDropdownToggle>
                {{ displayingNode }}
            </button>
            <ul ngbDropdownMenu class="dropdown-menu">
                <li class="dropdown-item" *ngFor="let node of nodes" (click)="changeNode(node)">
                    {{ node }}
                </li>
            </ul>
        </div>
    </nb-card-header>

    <!--    Electric Grid TAB   -->

    <nb-card-body *ngIf="currentTab === 'Electric Grid'">

        <!--    PV switcher   -->

        <div class="row p-2">
            <div class="col-md-1">
                <label>PV</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][0]" (change)="changeCheckBoxVal(0)"
                        id="techParamCheck1" #techParamCheck1>
                    <label class="label" for="techParamCheck1"></label>
                </section>
            </div>
        </div>

        <div *ngIf="paramInit['payload']['electric.grid'][displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'System Loss'" [label2]="'%'"
                (valChange)="nodePvParam[displayingNode]['system.loss']=+$event"
                [(val)]="nodePvParam[displayingNode]['system.loss']" [compId]="'techParamCheckInput1.1'">
            </ngx-input-field>
            <div class="row" *ngIf="techParamCheck1.checked">
                <div class="col-md-2">
                    <ul class="listItem">
                        <li>
                            <div class="form-group row">
                                <label for="input1" class="col-sm-2 col-form-label">Tracking</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <nb-select *ngIf="techParamCheck1.checked" class="m-2" placeholder="Tracking"
                        [(ngModel)]="nodePvParam[displayingNode]['tracking']">
                        <nb-option value="None">None</nb-option>
                        <nb-option value="1">1-axis (azimuth)</nb-option>
                        <nb-option value="2">2-axis (tilt & azimuth)</nb-option>
                    </nb-select>
                </div>
            </div>
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'Tilt'" [label2]="'°'"
                (valChange)="nodePvParam[displayingNode]['tilt']=+$event" [(val)]="nodePvParam[displayingNode]['tilt']"
                [compId]="'techParamCheckInput1.2'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'Azimuth'" [label2]="'°'"
                (valChange)="nodePvParam[displayingNode]['azimuth']=+$event"
                [(val)]="nodePvParam[displayingNode]['azimuth']" [compId]="'techParamCheckInput1.3'"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'Nominal Power'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].PV['nominal.electric.power']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].PV['nominal.electric.power']"
                [compId]="'techParamCheckInput1.4'">
            </ngx-input-field>
        </div>

        <!--    WT switcher   -->

        <div class="row p-2">
            <div class="col-md-1">
                <label>WT</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][1]" (change)="changeCheckBoxVal(1)"
                        id="techParamCheck2" #techParamCheck2>
                    <label class="label" for="techParamCheck2"></label>
                </section>
            </div>
        </div>

        <div *ngIf="paramInit['payload']['electric.grid'][displayingNode]">

            <ngx-input-field [isChecked]="techParamCheck2.checked" [label1]="'Hub Height'" [label2]="'m'"
                (valChange)="hubHeight=+$event" [(val)]="hubHeight" [compId]="'techParamCheckInput2.1'">
            </ngx-input-field>
            <div class="row" *ngIf="techParamCheck2.checked">
                <div class="col-md-2">
                    <ul class="listItem">
                        <li>
                            <div class="form-group row">
                                <label for="input1" class="col-sm-2 col-form-label">Turbine Model</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <nb-select class="m-2" placeholder="Turbine Model"
                        [(ngModel)]="nodeWindParam[displayingNode]['turbine.model']">
                        <nb-option *ngFor="let turbine of turbineModels" [value]="turbine">{{turbine}}</nb-option>
                    </nb-select>
                </div>
            </div>
            <ngx-input-field [isChecked]="techParamCheck2.checked" [label1]="'Nominal Power'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].WT['nominal.electric.power']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].WT['nominal.electric.power']"
                [compId]="'techParamCheckInput2.2'">
            </ngx-input-field>
        </div>

        <!--    CHP switcher   -->

        <div class="row p-2">
            <div class="col-md-1">
                <label>CHP</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][2]" (change)="changeCheckBoxVal(2)"
                        id="techParamCheck3" #techParamCheck3>
                    <label class="label" for="techParamCheck3"></label>
                </section>
            </div>
        </div>

        <div *ngIf="paramInit['payload']['electric.grid'][displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck3.checked" [label1]="'Nominal Power'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].CHP['nominal.electric.power']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].CHP['nominal.electric.power']"
                [compId]="'techParamCheckInput3.1'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck3.checked" [label1]="'Effieciency Electric'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].CHP['efficiency.electric']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].CHP['efficiency.electric']"
                [compId]="'techParamCheckInput3.2'"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck3.checked" [label1]="'Effieciency Thermal'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].CHP['efficiency.thermal']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].CHP['efficiency.thermal']"
                [compId]="'techParamCheckInput3.3'"></ngx-input-field>
        </div>

        <!--    P2H switcher   -->

        <div class="row p-2">
            <div class="col-md-1">
                <label>P2H</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][3]" (change)="changeCheckBoxVal(3)"
                        id="techParamCheck4" #techParamCheck4>
                    <label class="label" for="techParamCheck4"></label>
                </section>
            </div>
        </div>

        <div *ngIf="paramInit['payload']['electric.grid'][displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'DH.HP.Nominal Heat Power'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2H.DH.HP['nominal.heat.power']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2H.DH.HP['nominal.heat.power']"
                [compId]="'techParamCheckInput4.1'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'DH.HP.Cop'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2H.DH.HP['cop']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2H.DH.HP['cop']"
                [compId]="'techParamCheckInput4.2'"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'DH.EH.Nominal Heat Power'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2H.DH.EH['nominal.heat.power']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2H.DH.EH['nominal.heat.power']"
                [compId]="'techParamCheckInput4.3'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'DH.EH.Efficiency Thermal'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2H.DH.EH['efficiency.thermal']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2H.DH.EH['efficiency.thermal']"
                [compId]="'techParamCheckInput4.4'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'LHD.HP.Nominal Heat Power'"
                [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2H.LHD.HP['nominal.heat.power']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2H.LHD.HP['nominal.heat.power']"
                [compId]="'techParamCheckInput4.5'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'LHD.HP.Cop'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2H.LHD.HP['cop']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2H.LHD.HP['cop']"
                [compId]="'techParamCheckInput4.6'"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'LHD.EH.Nominal Heat Power'"
                [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2H.LHD.EH['nominal.heat.power']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2H.LHD.EH['nominal.heat.power']"
                [compId]="'techParamCheckInput4.7'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'LHD.EH.Efficiency Thermal'"
                [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2H.LHD.EH['efficiency.thermal']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2H.LHD.EH['efficiency.thermal']"
                [compId]="'techParamCheckInput4.8'">
            </ngx-input-field>
        </div>

        <!--    P2G switcher   -->

        <div class="row p-2">
            <div class="col-md-1">
                <label>P2G</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][4]" (change)="changeCheckBoxVal(4)"
                        id="techParamCheck5" #techParamCheck5>
                    <label class="label" for="techParamCheck5"></label>
                </section>
            </div>
        </div>

        <div *ngIf="paramInit['payload']['electric.grid'][displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck5.checked" [label1]="'Nominal Power'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2G['nominal.electric.power']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2G['nominal.electric.power']"
                [compId]="'techParamCheckInput5.1'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck5.checked" [label1]="'Effieciency Electrolysis'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2G['efficiency.electrolysis']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2G['efficiency.electrolysis']"
                [compId]="'techParamCheckInput5.2'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck5.checked" [label1]="'Effieciency Methanation'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2G['efficiency.methanation']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2G['efficiency.methanation']"
                [compId]="'techParamCheckInput5.3'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck5.checked" [label1]="'Effieciency Thermal'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].P2G['efficiency.thermal']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].P2G['efficiency.thermal']"
                [compId]="'techParamCheckInput5.4'"></ngx-input-field>
        </div>

        <!--    EB switcher   -->

        <div class="row p-2">
            <div class="col-md-1">
                <label>EB</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][5]" (change)="changeCheckBoxVal(5)"
                        id="techParamCheck6" #techParamCheck6>
                    <label class="label" for="techParamCheck6"></label>
                </section>
            </div>
        </div>

        <div *ngIf="paramInit['payload']['electric.grid'][displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck6.checked" [label1]="'Storage Electric Capacity'"
                [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].EB['storage.electric.capacity']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].EB['storage.electric.capacity']"
                [compId]="'techParamCheckInput6.1'">
            </ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck6.checked" [label1]="'Efficiency Charge'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].EB['efficiency.charge']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].EB['efficiency.charge']"
                [compId]="'techParamCheckInput6.2'"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck6.checked" [label1]="'Efficiency Discharge'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].EB['efficiency.discharge']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].EB['efficiency.discharge']"
                [compId]="'techParamCheckInput6.3'"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck6.checked" [label1]="'C Rate'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode].EB['c.rate']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode].EB['c.rate']"
                [compId]="'techParamCheckInput6.4'"></ngx-input-field>
        </div>

        <div class="row p-2">
            <div class="col-md-1">
                <label>Electric Load</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][6]" (change)="changeCheckBoxVal(6)"
                        id="techParamCheck7" #techParamCheck7>
                    <label class="label" for="techParamCheck7"></label>
                </section>
            </div>
        </div>

        <div *ngIf="paramInit['payload']['electric.grid'][displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck7.checked" [label1]="'Peak Load'" [label2]="'MW'"
                (valChange)="paramInit['payload']['electric.grid'][displayingNode]['uncontrollable.load']['peak.load']=+$event"
                [(val)]="paramInit['payload']['electric.grid'][displayingNode]['uncontrollable.load']['peak.load']"
                [compId]="'techParamCheckInput7.1'">
            </ngx-input-field>
        </div>

    </nb-card-body>

    <!--    Centralised Heat TAB   -->

    <nb-card-body *ngIf="currentTab === 'Centralised Heat'">

        <div class="row p-2">
            <div class="col-md-1">
                <label>DH Heat Load</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="g2h['dh.connected.heat.load']" (change)="changeG2H(1)" id="dhh1"
                        #dhh1>
                    <label class="label" for="dhh1"></label>
                </section>
            </div>
        </div>

        <ngx-input-field [isChecked]="g2h['dh.connected.heat.load']" [label1]="'Peak Load'" [label2]="'MW'"
            (valChange)="paramInit['payload']['centralised.heat']['uncontrollable.load']['peak.load']=+$event"
            [(val)]="paramInit['payload']['centralised.heat']['uncontrollable.load']['peak.load']"
            [compId]="'centralised.peak.load.1'">
        </ngx-input-field>

        <div class="row p-2">
            <div class="col-md-1">
                <label>Centralised G2H</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="g2h['centralised']" (change)="changeG2H(2)" id="g2h1" #g2h1>
                    <label class="label" for="g2h1"></label>
                </section>
            </div>
        </div>

        <ngx-input-field [isChecked]="g2h['centralised']" [label1]="'Nomial Heat Power'" [label2]="'MW'"
            (valChange)="paramInit['payload']['centralised.heat']['G2H']['nomial.heat.power']=+$event"
            [(val)]="paramInit['payload']['centralised.heat']['G2H']['nomial.heat.power']" [compId]="'g2h1nomial'">
        </ngx-input-field>

        <ngx-input-field [isChecked]="g2h['centralised']" [label1]="'C Rate'" [label2]="'MW'"
            (valChange)="paramInit['payload']['centralised.heat']['G2H']['efficiency.thermal']=+$event"
            [(val)]="paramInit['payload']['centralised.heat']['G2H']['efficiency.thermal']" [compId]="'g2h1eff'">
        </ngx-input-field>

    </nb-card-body>

    <!--    Localised Heat TAB   -->

    <nb-card-body *ngIf="currentTab === 'Localised Heat'">

        <div class="row p-2">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label>Not DH Heat Load</label>
                    </div>
                    <div class="col-md-4">
                        <section class="slider-checkbox">
                            <input type="checkbox" [checked]="g2h['not.dh.connected.heat.load']" (change)="changeG2H(3)"
                                id="dhh2" #dhh2>
                            <label class="label" for="dhh2"></label>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <ngx-input-field [isChecked]="g2h['not.dh.connected.heat.load']" [label1]="'Peak Load'" [label2]="'MW'"
            (valChange)="paramInit['payload']['localised.heat']['uncontrollable.load']['peak.load']=+$event"
            [(val)]="paramInit['payload']['localised.heat']['uncontrollable.load']['peak.load']"
            [compId]="'centralised.peak.load.2'">
        </ngx-input-field>

        <div class="row p-2">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <label>Localised G2H</label>
                    </div>
                    <div class="col-md-4">
                        <section class="slider-checkbox">
                            <input type="checkbox" [checked]="g2h['localised']" (change)="changeG2H(4)" id="g2h2" #g2h2>
                            <label class="label" for="g2h2"></label>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <ngx-input-field [isChecked]="g2h['localised']" [label1]="'Nomial Heat Power'" [label2]="'MW'"
            (valChange)="paramInit['payload']['localised.heat']['G2H']['nomial.heat.power']=+$event"
            [(val)]="paramInit['payload']['localised.heat']['G2H']['nomial.heat.power']" [compId]="'g2h2nomial'">
        </ngx-input-field>

        <ngx-input-field [isChecked]="g2h['localised']" [label1]="'C Rate'" [label2]="'MW'"
            (valChange)="paramInit['payload']['localised.heat']['G2H']['efficiency.thermal']=+$event"
            [(val)]="paramInit['payload']['localised.heat']['G2H']['efficiency.thermal']" [compId]="'g2h2eff'">
        </ngx-input-field>

    </nb-card-body>

    <nb-card-footer *ngIf="!isLoadModule">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button nbButton hero status="info" shape="round" (click)="nextPhase()">Continue</button>
            </div>
        </div>
    </nb-card-footer>

</nb-card>