@import '../../../@theme/styles/themes.scss';
@import '../../../@theme/styles/slider.component.scss';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.675rem 4rem 0.5rem 1.25rem;
    @include nb-rtl(padding-right, 1.25rem);
    @include nb-rtl(padding-left, 4rem);
  }

  .dropdown {
    min-width: 120px;
  }
}

img {
  width: 14rem;
  height: 16rem;
  margin-bottom: 3rem;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.listItem {
  margin-left: 2.1rem;
}

label {
  margin-top: 7px;
  text-align: center;
  font-weight: nb-theme(text-label-font-weight);
  line-height: nb-theme(text-subtitle-line-height);
}

.form-control {
  margin-top: 0.8rem;
}
