<div *ngIf="mode === 'edit'">
    <div class="form-group row">
        <label for="'unitDescr'" class="col-md-3 formDescr">Unit Description</label>
        <div class="col-md-6">
            <textarea type="text" nbInput fullWidth shape="round" id="'unitDescr'"
                [(ngModel)]="p2hElectricHeatParams['description']"></textarea>
        </div>
    </div>

    <hr class="m-4">
</div>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'MW<sub>th</sub>'"
    (valChange)="onChange(['nominal.heat.power'],+$event)"
    [(val)]="p2hElectricHeatParams['payload']['parameters']['configuration']['nominal.heat.power']"
    [compId]="'p2hElectricHeat_nominal.heat.power'" [inputHtmlLabel1]="'P<sub>Nominal</sub>'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'%'" (valChange)="onChange(['efficiency.thermal'],+$event)"
    [(val)]="p2hElectricHeatParams['payload']['parameters']['configuration']['efficiency.thermal']"
    [compId]="'p2hElectricHeat_efficiency.thermal'" [inputHtmlLabel1]="'Eff<sub>th</sub>'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="''" (valChange)="onChange(['cos_phi'],+$event)"
    [(val)]="p2hElectricHeatParams['payload']['parameters']['configuration']['cos_phi']"
    [compId]="'p2hElectricHeat_cos_phi'" [inputHtmlLabel1]="'cos(phi)'">
</ngx-input-field>