<div class="row">
  <div class="col-xxl-12">

    <nb-card size="medium">
      <nb-card-body>
        <div class="col-md-12">
          <div id='map'> </div>
          <nb-tabset fullWidth (changeTab)="revealMap()">
            <nb-tab tabTitle="PV Input">
              <div class="row">
                <div class="col-md-2">
                  <hr>
                  <nb-select class="m-2" placeholder="Select grid area">
                    <nb-option value="1">Turin</nb-option>
                    <nb-option value="2" disabled>Athens</nb-option>
                  </nb-select>
                </div>
                <div class="col-md-10">
                  <ngx-leaflet-map [load]="showMap" [(coordinates)]="coordinates" (coordChange)="setCoord($event)"></ngx-leaflet-map>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Wind Input">
              <div class="row">
                <div class="col-md-2">
                  <hr>
                  <nb-select class="m-2" placeholder="Select grid area">
                    <nb-option value="1">Turin</nb-option>
                    <nb-option value="2" disabled>Athens</nb-option>
                  </nb-select>
                </div>
                <div class="col-md-10">
                  <ngx-leaflet-map [load]="showMap" [(coordinates)]="coordinates" (coordChange)="setCoord($event)"></ngx-leaflet-map>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Electricity Input">
              <div class="row">
                <div class="col-md-2">
                  <label class="upload-button m-2">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event,2)"
                      [uploadInput]="uploadInput" multiple class="btn btn-primary">
                    <span class="btn btn-primary m-2">{{getFileName(2)}}</span>
                  </label>
                </div>
                <div class="col-md-10">
                  <ngx-leaflet-map [load]="showMap" [(coordinates)]="coordinates" (coordChange)="setCoord($event)"></ngx-leaflet-map>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Heat Input">
              <div class="row">
                <div class="col-md-2">
                  <label class="upload-button m-2">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event,3)"
                      [uploadInput]="uploadInput" multiple class="btn btn-primary">
                    <span class="btn btn-primary m-2">{{getFileName(3)}}</span>
                  </label>
                </div>
              </div>
              <div class="col-md-10">
                <ngx-leaflet-map [load]="showMap" [(coordinates)]="coordinates" (coordChange)="setCoord($event)"></ngx-leaflet-map>
              </div>
            </nb-tab>
          </nb-tabset>
        </div>
      </nb-card-body>
    </nb-card>

    <div class="row">
      <div class="col-md-4">

        <nb-card>
          <nb-card-header>Simulation Parameters</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <label for="dt" class="col-sm-8 col-form-label">DT</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="dt" [(ngModel)]="paramInit.payload.simulation['time.step']">
              </div>
            </div>
            <div class="form-group row">
              <label for="simulation-time" class="col-sm-8 col-form-label">Simulation Time</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="simulation-time" [(ngModel)]="paramInit.payload.simulation['simulation.time']">
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>Control System</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <label for="control-system" class="col-sm-8 col-form-label">Option</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="control-system" [(ngModel)]="controlSystem.payload.control">
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>Economy Parameters</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <label for="ec_ng.cost" class="col-sm-8 col-form-label">NG cost</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="ec_ng.cost" [(ngModel)]="econEnv.payload['NG.cost']">
              </div>
            </div>
            <div class="form-group row">
              <label for="ec_sng.cost" class="col-sm-8 col-form-label">SNG cost</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="ec_sng.cost" [(ngModel)]="econEnv.payload['SNG.cost']">
              </div>
            </div>
            <div class="form-group row">
              <label for="ec_heat.cost" class="col-sm-8 col-form-label">Heat cost</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="ec_heat.cost" [(ngModel)]="econEnv.payload['heat.cost']">
              </div>
            </div>
            <div class="form-group row">
              <label for="ec_carbon" class="col-sm-8 col-form-label">Carbon tax</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="ec_carbon" [(ngModel)]="econEnv.payload['carbon.tax']">
              </div>
            </div>
            <div class="form-group row">
              <label for="ec_ng.emission" class="col-sm-8 col-form-label">NG emission factor</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="ec_ng.emission" [(ngModel)]="econEnv.payload['NG.emission.factor']">
              </div>
            </div>
          </nb-card-body>
        </nb-card>

      </div>

      <div class="col-md-8">
        <ngx-tech-param [(data)]="paramInit" (dataChange)="paramInit"></ngx-tech-param>
        <ngx-tech-cost [(data)]="econEnv" (dataChange)="econEnv"></ngx-tech-cost>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <button nbButton type="button" class="start-upload-btn" size="large" (click)="startUpload()">
          Start Upload
        </button>
      </div>
    </div>
  </div>
</div>