<div class="row" *ngIf="loadPage && generalParams.formName !== ''">
  <div class="col-xxl-12">

    <ngx-general-params [isLoadModule]="true"></ngx-general-params>

    <div class="row">
      <div class="col-md-12">
        <div class="ui content">
          <ngx-tech-param [(pvParam)]="pvParam" [(windParam)]="windParam" (pvChange)="pvParam" (windChange)="windParam"
            [isLoadModule]="true">
          </ngx-tech-param>
        </div>
      </div>

      <div class="col-md-12">
        <ngx-tech-control [isLoadModule]="true"></ngx-tech-control>
      </div>

      <div class="col-md-12">
        <ngx-tech-cost [(data)]="econEnv" (dataChange)="econEnv"></ngx-tech-cost>
      </div>

      <div class="col-md-12">
        <div>
          <nb-card accent="active">
            <nb-card-header>Economy Parameters</nb-card-header>
            <nb-card-body>
              <div class="form-group row">
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">NG cost</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_ng.cost" [(ngModel)]="+econEnv.payload['NG.cost']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">€/MWh</label>
              </div>
              <div class="form-group row">
                <label for="ec_sng.cost" class="col-sm-2 col-form-label">SNG cost</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_sng.cost" [(ngModel)]="+econEnv.payload['SNG.cost']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">€/MWh</label>
              </div>
              <div class="form-group row">
                <label for="ec_heat.cost" class="col-sm-2 col-form-label">Heat cost</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_heat.cost"
                    [(ngModel)]="+econEnv.payload['heat.cost']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">€/MWh</label>
              </div>
              <div class="form-group row">
                <label for="ec_carbon" class="col-sm-2 col-form-label">Carbon tax</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_carbon" [(ngModel)]="+econEnv.payload['carbon.tax']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">€/t</label>
              </div>
              <div class="form-group row">
                <label for="ec_ng.emission" class="col-sm-2 col-form-label">NG emission factor</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_ng.emission"
                    [(ngModel)]="+econEnv.payload['NG.emission.factor']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">%</label>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <button *ngIf="!generalParams.formName.includes('  -  ')" nbButton type="button" [nbSpinner]="loading"
          nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="" status="success" size="large"
          class="start-upload-btn m-2" (click)="startUpload()">
          Save Scenario
        </button>
      </div>
      <div class="col-md-2">
        <div *ngIf="generalParams.formName.includes('  -  ')" class="errorTextarea"> '[space][space]-[space][space]' is
          a
          reserved word!</div>
        <div *ngIf="saveMessage!==''" [ngClass]="{
          'errorTextarea': saveMessage.includes('Error'),
          'successTextarea': !saveMessage.includes('Error')
        }">
          {{saveMessage}}
        </div>
      </div>
    </div>
  </div>
</div>