<div class="row">
  <div class="col">

    <nb-card>
      <nb-card-header>Sitewhere Device Type Registration</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-md-2">
            <button nbButton hero status="info" (click)="handleClick()">Send Data to Sitewhere</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Register a new Unit</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-xxl-12">
            <div class="row">

              <div class="col-md-5">

                <div class="form-group row">
                  <label for="'unitName'" class="col-md-2 col-form-label formLabel">Unit Name</label>
                  <div class="col-md-9">
                    <input type="text" nbInput shape="semi-round" id="'unitName'" [(ngModel)]="unitName">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="'unitDescr'" class="col-md-2 col-form-label formDescr">Unit Description</label>
                  <div class="col-md-9">
                    <textarea fullWidth type="text" nbInput shape="round" id="'unitDescr'"
                      [(ngModel)]="unitDescr"></textarea>
                  </div>
                </div>

              </div>

              <div class="col-md-3">
                <label class="upload-button">
                  <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" multiple
                    class="btn btn-primary">
                  <span class="btn btn-primary">Select Image</span>
                </label>


                <div *ngIf="selectedFile" class="img-preview-container">

                  <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                    [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                  </div>

                  <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                    <div class="img-spinning-circle"></div>
                  </div>

                  <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!
                  </div>
                  <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
                </div>
              </div>

              <div class="col-md-4">
                <img *ngIf="checkImage" [src]="selectedFile.src">
              </div>

            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

  </div>
</div>