<div *ngIf="mode === 'edit'">
    <div class="form-group row">
        <label for="'unitDescr'" class="col-md-3 formDescr">Unit Description</label>
        <div class="col-md-6">
            <textarea type="text" nbInput fullWidth shape="round" id="'unitDescr'"
                [(ngModel)]="vesParams['description']"></textarea>
        </div>
    </div>

    <hr class="m-4">
</div>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'MW<sub>th</sub>'"
    (valChange)="onChange(['nominal_heat_power'],+$event)"
    [(val)]="vesParams['payload']['parameters']['configuration']['nominal_heat_power']"
    [compId]="'ves_nominal_heat_power'" [inputHtmlLabel1]="'P<sub>Nominal</sub>'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'%'" (valChange)="onChange(['efficiency_thermal'],+$event)"
    [(val)]="vesParams['payload']['parameters']['configuration']['efficiency_thermal']"
    [compId]="'ves_efficiency_thermal'" [inputHtmlLabel1]="'Eff<sub>th</sub>'">
</ngx-input-field>