@import '../../../@theme/styles/image.card.component.scss';

.errorTextarea {
    color: red;
    margin-top: 7.5%;
  }
  
  .successTextarea {
    color: green;
    margin-top: 7.5%;
  }

  h2 {
    flex: 1 1 100%;
    color: nb-theme(color-primary-300-light);
    text-align: center;
    margin: 0;
  }

  :host ::ng-deep nb-stepper .step-content {
    text-align: center;
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
  
  .lorem {
    text-align: justify;
    margin-bottom: 2rem;
  }
  
  .input-group {
    padding-bottom: 1rem;
  }
  
  .linear-mode-button {
    margin-bottom: 1rem;
  }

  .selectedSim {
    border:3px solid lightgreen;
  }
  
