.errorTextarea {
    color: red;
    margin-top: 7.5%;
  }
  
  .successTextarea {
    color: green;
    margin-top: 7.5%;
  }

  h2 {
    flex: 1 1 100%;
    color: nb-theme(color-primary-300-light);
    text-align: center;
    margin: 0;
  }

  :host ::ng-deep nb-stepper .step-content {
    text-align: center;
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
  
  .lorem {
    text-align: justify;
    margin-bottom: 2rem;
  }
  
  .input-group {
    padding-bottom: 1rem;
  }
  
  .linear-mode-button {
    margin-bottom: 1rem;
  }

  .imageCard {

    label {
        font-weight: bold;
        text-align: center;
    }

    .component-card-wrapper {
      width: 100%;
    }

    .component-icon {
      margin-bottom: 1rem;
    }

    .component-name {
      color: nb-theme(color-primary-300-light);
      font-weight: nb-theme(text-label-font-weight);
    }

    .component-navigate-link {
      text-decoration: none;
    }

    nb-card {
      box-shadow: 0 4px 27px 0 rgba(230, 234, 240, 0.2);
      transition: transform 0.25s ease;

      > nb-card-body {
        height: 200px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        box-shadow: 0 15px 37px 0 #dbe2eb;
        transform: translateY(-1rem);
        cursor: pointer;
        .component-name {
          color: nb-theme(color-primary-400);
        }
      }
    }
  }

  .selectedSim {
    border:3px solid lightgreen;
  }
  
