@import '../../../../@theme/styles/themes';

    nb-card-header {
        font-size: 24px;
    }

    .imageCard {

        label {
            font-weight: bold;
            text-align: center;
        }

        .component-card-wrapper {
          width: 100%;
        }
    
        .component-icon {
          margin-bottom: 1rem;
        }
    
        .component-name {
          color: nb-theme(color-fg-heading-light);
          font-weight: nb-theme(font-weight-bolder);
        }
    
        .component-navigate-link {
          text-decoration: none;
        }
    
        nb-card {
          box-shadow: 0 4px 27px 0 rgba(230, 234, 240, 0.2);
          transition: transform 0.25s ease;
    
          > nb-card-body {
            height: 200px;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
    
          &:hover {
            box-shadow: 0 15px 37px 0 #dbe2eb;
            transform: translateY(-1rem);
            cursor: pointer;
            .component-name {
              color: nb-theme(color-fg);
            }
          }
        }
      }