<div class="row" [ngSwitch]="phase">
  <div class="col">

    <div *ngSwitchCase="'1'">
      <h2>Remove an Existing Device</h2>

      <div class="row">
        <div class="col-md-3" *ngFor="let unit of flexUnits">
          <div class="imageCard">
            <nb-card accent="active">
              <nb-card-body (click)="handleModel(unit.id)">
                <img class="component-icon" src="assets/images/{{unit.id}}.jpg"
                  [ngStyle]="{'width': '120px', 'height': '100px'}">
                <label class="component-name">{{unit.label}}</label>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'2'">

      <div class="row">
        <div class="col-md-1">
          <nb-actions size="large">
            <nb-action icon="nb-arrow-thin-left" (click)="phase=phase - 1; message=''"></nb-action>
          </nb-actions>
        </div>
        <div class="col-md-10">
          <h2>Select one of the {{activeModel}} Units</h2>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row" [ngSwitch]="activeModel">

        <div class="col-md-12" *ngSwitchCase="'P2G'">
          <ngx-unit-models [loading]="loading" [models]="p2gUnit" [modelType]="activeModel"
            (selectedModel)="handleSelectedModel($event)"></ngx-unit-models>
        </div>

        <div class="col-md-12" *ngSwitchCase="'P2H'">
          <ngx-unit-models [loading]="loading" [models]="p2hUnit" [modelType]="activeModel"
            (selectedModel)="handleSelectedModel($event)"></ngx-unit-models>
        </div>

        <div class="col-md-12" *ngSwitchCase="'VES'">
          <ngx-unit-models [loading]="loading" [models]="vesUnit" [modelType]="activeModel"
            (selectedModel)="handleSelectedModel($event)"></ngx-unit-models>
        </div>

        <div class="col-md-12" *ngSwitchCase="'Sim'">
          <ngx-unit-models [loading]="loading" [models]="simUnit" [modelType]="activeModel"
            (selectedModel)="handleSelectedModel($event)"></ngx-unit-models>
        </div>

      </div>
    </div>

    <div *ngIf="message" [ngClass]="{
      'errorTextarea': message.includes('Error'),
      'successTextarea': !message.includes('Error')
    }">
      {{message}}
    </div>

  </div>
</div>