<div class="row m-4">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <a href="https://www.h2020-planet.eu/" target="_blank">
            <img [src]="'assets/images/planet.png'" [ngStyle]="{'width': '600px', 'height': '450px'}">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-7">
        <label class="ui huge" [ngStyle]="{'margin-left': '105px', 'margin-right': '20px'}">
            <a href="https://www.linkedin.com/company/planet-h2020/" target="_blank">
                <i class="linkedin alternate icon"></i>
            </a>
        </label>
        <label class="ui huge" [ngStyle]="{'margin-right': '20px'}">
            <a href="https://twitter.com/h2020_planet" target="_blank">
                <i class="twitter icon"></i>
            </a>
        </label>
        <label class="ui large">
            <a href="mailto:mariapia.martino@polito.it" target="_blank">
                <i class="envelope icon"></i>
            </a>
        </label>
    </div>
</div>