@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/image.card.component.scss';

  h2 {
    flex: 1 1 100%;
    color: #8994a3;
    margin: 1rem 0 2rem;
    text-align: center;
  }

.formLabel {
  margin-top: 12px;
  margin-left: 2%;
  font-weight: bold;
}

input {
  text-align: center;
  margin-top: 0.9rem;
}

input[type=file] {
  display:none;
}

.errorTextarea {
  color: #ff4c4c;
  margin-top: 2.5%;
}

.successTextarea {
  color: lightgreen;
  margin-top: 2.5%;
}
