@import '../../../@theme/styles/themes';

.imageCard {

  .component-card-wrapper {
    width: 100%;
  }

  .component-icon {
    margin-bottom: 1rem;
  }

  .component-name {
    color: #8994a3;
    font-weight: 500;
  }

  .component-navigate-link {
    text-decoration: none;
  }

  nb-card {
    box-shadow: 0 4px 27px 0 rgba(230, 234, 240, 0.2);
    transition: transform 0.25s ease;

    > nb-card-body {
      height: 200px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      box-shadow: 0 15px 37px 0 #dbe2eb;
      transform: translateY(-1rem);
      cursor: pointer;
      .component-name {
        color: rgba(0, 230, 64, 1);
      }
    }
  }
}

  h2 {
    flex: 1 1 100%;
    color: #8994a3;
    margin: 1rem 0 2rem;
    text-align: center;
  }

.formLabel {
  margin-top: 0.8%;
  margin-left: 2%;
  font-weight: bold;
}

input {
  text-align: center;
  margin-top: 0.9rem;
}

textarea {
  margin-top: 1rem;
}

.formDescr {
  margin-top: 1.3%;
  margin-left: 2%;
  font-weight: bold;
}

input[type=file] {
  display:none;
}

.errorTextarea {
  color: #ff4c4c;
  margin-top: 2.5%;
}

.successTextarea {
  color: lightgreen;
  margin-top: 2.5%;
}

@import '../../../@theme/styles/themes';
@import '~@nebular/theme/components/card/card.component.theme';

@include nb-install-component() {
svg {
  width: 100%;
}

.stroke-pattern {
  fill: none;
  stroke: #bdc4cd;
  stroke-miterlimit: 10;
  opacity: 0.1;
  stroke-width: 1px;
}

.stroked-element {
  stroke-width: 4px;
  stroke: #bdc4cd;
  stroke-miterlimit: 10;
  fill: url('#New_Pattern_Swatch_1');
}

.room-border {
  stroke-width: 4px;
  stroke: #bdc4cd;
  stroke-miterlimit: 10;
  fill: none;
}

.room-bg {
  fill: nb-theme(background-basic-color-1);
  stroke: transparent;
  cursor: pointer;
  stroke-width: 4px;
}

.room-bg-border-grad {
  fill: none;
  stroke: none;
  stroke-width: 4px;
}

.room-text {
  cursor: pointer;
  user-select: none;
  pointer-events: none;
  fill: #494949;
}

.selected-room {
  z-index: 40;

  .room-text {
    fill: #494949;
    font-weight: nb-theme(text-label-font-weight);
  }
  .room-border {
    stroke: nb-theme(color-success-600);
  }
}

.header {
  @include nb-card-header();
  border-bottom: none;
  padding-bottom: 0;
}
}
