<div class="row">
  <div class="col">

    <nb-card accent="active">
      <nb-card-header>Flexibility Unit Type Registration</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-md-2">
            <button nbButton hero status="info" (click)="handleClick()">Save Data to Sitewhere</button>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div *ngIf="message" [ngClass]="{
                'errorTextarea': message.includes('Error'),
                'successTextarea': !message.includes('Error')
              }">
              {{message}}
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <h2>Register Unit</h2>

    <div class="row">
      <div class="col-md-3" *ngFor="let unit of flexUnits">
        <div class="imageCard">
          <nb-card accent="active">
            <nb-card-body (click)="animateInfo(transitionController,transitionName,unit.id)">
              <img class="component-icon" src="assets/images/{{unit.id}}.jpg"
                [ngStyle]="{'width': '120px', 'height': '100px'}">
              <label class="component-name">{{unit.label}}</label>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>

    <div *ngIf="activeModel" [suiTransition]="transitionController">
      <nb-card [ngSwitch]="activeModel" accent="active">
        <nb-card-header *ngSwitchCase="'P2G'">Power 2 Gas Parameters</nb-card-header>
        <nb-card-header *ngSwitchCase="'VES'">Virtual Energy Storage Parameters</nb-card-header>
        <nb-card-header *ngSwitchCase="'P2H'">Power 2 Heat Parameters</nb-card-header>
        <nb-card-header *ngSwitchCase="'Sim'">Simulator Parameters</nb-card-header>
        <nb-card-body>

          <div class="form-group row">

            <div class="col-md-3"></div>
            <label for="'unitName'" class="col-md-1 formLabel">Unit Name</label>
            <div class="col-md-3">
              <input type="text" fullWidth nbInput shape="semi-round" id="'unitName'" [(ngModel)]="unitName">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3"></div>
            <label for="'unitDescr'" class="col-md-1 formDescr">Unit Description</label>
            <div class="col-md-3">
              <textarea type="text" nbInput fullWidth shape="round" id="'unitDescr'" [(ngModel)]="unitDescr"></textarea>
            </div>
          </div>

          <div class="form-group row">

            <div class="col-md-3"></div>
            <label for="'unitName'" class="col-md-1 formLabel">Unit IP</label>
            <div class="col-md-3">
              <input type="text" fullWidth nbInput shape="semi-round" id="'unitIP'" [(ngModel)]="unitIP">
            </div>
          </div>

          <div class="form-group row">

            <div class="col-md-3"></div>
            <label for="'unitName'" class="col-md-1 formLabel">Unit MQTT Port</label>
            <div class="col-md-3">
              <input type="text" fullWidth nbInput shape="semi-round" id="'unitPort'" [(ngModel)]="unitPort">
            </div>
          </div>

          <div class="form-group row" *ngSwitchCase="'Sim'">

            <div class="col-md-3"></div>
            <label for="'unitName'" class="col-md-1 formLabel">Simulator Type</label>
            <div class="col-md-1">
              <sui-checkbox [ngModel]="selectedOptions.Simulink" [isReadonly]="selectedOptions.Simulink"
                (ngModelChange)="handleSimulator($event,'Simulink')" [ngStyle]="{'margin-top': '13px'}">Simulink
              </sui-checkbox>
            </div>
            <div class=" col-md-1">
              <sui-checkbox [ngModel]="selectedOptions.OpalRT" [isReadonly]="selectedOptions.OpalRT"
                (ngModelChange)="handleSimulator($event,'OpalRT')" [ngStyle]="{'margin-top': '13px'}">OpalRT
              </sui-checkbox>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-2">
              <nb-select class="m-2" placeholder="Select grid" shape="semi-round" status="primary"
                (selectedChange)="gridSelected($event)">
                <nb-option value="grid['name]'" *ngFor="let grid of grids" [value]="grid">
                  {{grid['name']}}</nb-option>
              </nb-select>
            </div>
          </div> -->

          <hr class="m-4">
          <div class="row">
            <div class="col-md-6">
              <ngx-p2g-unit *ngSwitchCase="'P2G'" (p2g)="p2gUnit=$event"></ngx-p2g-unit>
              <ngx-p2h-unit *ngSwitchCase="'P2H'" (p2h)="p2hUnit=$event"></ngx-p2h-unit>
              <ngx-ves-unit *ngSwitchCase="'VES'" (ves)="vesUnit=$event"></ngx-ves-unit>
            </div>

            <!-- <div class="col-md-6">
              <svg height="495" width="800" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" [attr.viewBox]="viewBox" preserveAspectRatio="xMidYMid">

                <g [attr.id]="room.id" [class.selected-room]="selectedRoom == room.id" *ngFor="let room of sortedRooms">
                  <path class="room-border" (click)="selectRoom(room.id)" [attr.d]="room.area.d"
                    [style.filter]="isIE || isFirefox ? 'inherit': ''" />
                  <path class="room-border" [attr.d]="room.border.d" />
                  <path class="room-border room-border-glow" [attr.d]="room.border.d"
                    [style.filter]="isIE || isFirefox ? 'inherit': ''" />
                  <text class="room-text" (click)="selectRoom(room.id)" text-anchor="middle" [attr.x]="room.name.x"
                    [attr.y]="room.name.y">{{room.name.text}}</text>
                  <text class="room-text" (click)="selectRoom(room.id)" text-anchor="middle" [attr.x]="room.number.x"
                    [attr.y]="room.number.y">{{room.number.text}}</text>
                  <text *ngIf="room.number.x2" class="room-text" (click)="selectRoom(room.id)" text-anchor="middle"
                    [attr.x]="room.number.x2" [attr.y]="room.number.y2">{{room.number.text2}}</text>
                </g>

              </svg>
            </div> -->
          </div>
        </nb-card-body>
        <div ng-switch-default></div>
      </nb-card>
    </div>

  </div>
</div>