<div class="row">
  <div class="col">

    <nb-card accent="active">
      <nb-card-header>Start Simulation</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-md-4">
            <button nbButton hero status="info" (click)="openDialogBox()">{{formName}}</button>
          </div>
          <div class="col-md-4">
            <button *ngIf="formName !== 'Select Saved Simulation'" nbButton type="button" [nbSpinner]="loading"
              nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="success" size="medium"
              class="start-upload-btn" (click)="startSimulation()">
              Start Simulation
            </button>
            <div *ngIf="status">
              <div [ngClass]="{
            'errorTextarea': !status.includes('Simulation finished successfully'),
            'successTextarea': status.includes('Simulation finished successfully')}">
                {{status}}
              </div>
            </div>
          </div>
          <div class="col-md-3" *ngIf="showVal">
            <ngx-toggle-settings-button></ngx-toggle-settings-button>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <!-- <nb-card accent="active" size="large">
      <nb-card-header>Test</nb-card-header>
      <nb-card-body>
        <ngx-energy-grid></ngx-energy-grid>
      </nb-card-body>
    </nb-card> -->


    <div *ngIf="showArea">
      <nb-card *ngFor="let areaCh of areaChart" accent="active">
        <nb-card-header>{{areaCh.title}}</nb-card-header>
        <nb-card-body>
          <ngx-simulation-area-stack [data]="areaCh.data"></ngx-simulation-area-stack>
        </nb-card-body>
      </nb-card>
    </div>

    <div *ngIf="showBar">
      <nb-card *ngFor="let barCh of barChart" accent="active">
        <nb-card-header>{{barCh.title}}</nb-card-header>
        <nb-card-body>
          <ngx-simulation-bar [yAxisLabel]="barCh.yAxisLabel" [yRightAxisLabel]="barCh.yRightAxisLabel"
            [data]="barCh.data"></ngx-simulation-bar>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>