<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'MW<sub>e</sub>'"
    (valChange)="onChange(['nominal.electric.power'],+$event)"
    [(val)]="pvParams['payload']['parameters']['configuration']['nominal.electric.power']"
    [compId]="'pv_nominal.electric.power'" [inputHtmlLabel1]="'P<sub>Nominal</sub>'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="'MW<sub>e</sub>'"
    (valChange)="onChange(['specific.producibility.profile'],+$event)"
    [(val)]="pvParams['payload']['parameters']['configuration']['specific.producibility.profile']"
    [compId]="'pv_specific.producibility.profile'" [inputHtmlLabel1]="'Producibility'">
</ngx-input-field>

<ngx-input-field [isChecked]="true" [inputHtmlLabel2]="''" (valChange)="onChange(['cos_phi'],+$event)"
    [(val)]="pvParams['payload']['parameters']['configuration']['cos_phi']" [compId]="'pv_cos_phi'"
    [inputHtmlLabel1]="'cos(phi)'">
</ngx-input-field>