.listItem {
    margin-left: 30px;
}
input[type=text] {
    text-align: center;
  }

  input[type=password] {
    text-align: center;
  }

  .innerHtmlStructure {
      font-size: 15px;
      font-weight: bold;
  }

  .innerHtmlLabels {
    margin-top: 0.2%;
  }

  label {
    margin-top: 7px;
    text-align: left;
  }
