<div class="row" style="max-width: 50%; max-height: 50%;display: flex;justify-content: center;">
    <div class="col-md-12">

        <nb-card accent="primary" [nbSpinner]="scenarios.length === 0" nbSpinnerStatus="danger" nbSpinnerSize="giant">
            <nb-card-header>Scenario List</nb-card-header>
            <nb-card-body [ngClass]="{'spinner-class': scenarios.length === 0}">
                <div class="row">
                    <div class="col-md-12">
                        <ng2-smart-table *ngIf="checkScenarios()" [settings]="scenarioSettings"
                            [source]="scenarioSource">
                        </ng2-smart-table>
                    </div>
                </div>

                <div class="row" *ngIf="scenarios.length !== 0">
                        <div class="col-md-4"></div>
                        
                        <div class="col-md-2">
                                <button nbButton hero status="success" class="m-4" style="width: 6rem" (click)="submit()">OK</button>
                            </div>       
                            <div class="col-md-2">   
                                <button nbButton hero status="danger" class="m-4"  style="width: 6rem" (click)="onCancelClick()">Cancel</button>
                            </div>
 
                  
                </div>

            </nb-card-body>
        </nb-card>

    </div>
</div>