<div class="row" *ngIf="loadPage && formName !== ''">
  <div class="col-xxl-12">

    <nb-card>
      <nb-card-header>New Simulation</nb-card-header>
      <nb-card-body>
        <div class="col-md-12">
          <div id='map'> </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-6">
                  <input class="m-2" type="text" nbInput fullWidth fieldSize="small" placeholder="Simulation Name"
                    [(ngModel)]="formName">
                </div>
                <div class="col-md-6">
                  <div *ngIf="formName === ''" class="requiredField"> Simulation Name is required</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <textarea class="m-2" nbInput fullWidth shape="round" (change)="handleDescriptionChange($event)"
                    placeholder="Simulation Description">{{formDescription}}</textarea>
                </div>
                <div class="col-md-6">
                  <div *ngIf="formDescription === ''" class="requiredTextarea"> Simulation Description is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <nb-select class="m-2" placeholder="Turin" (selectedChange)="animateImage('transitionName1',$event)">
                <nb-option value="Turin">Turin</nb-option>
                <nb-option value="Athens" disabled>Athens</nb-option>
              </nb-select>
              <div *ngIf="areaPicked">
                <hr>
                <div class="form-group row">
                  <label for="dt" class="col-sm-6 col-form-label">Time Step</label>
                  <div class="col-sm-6">
                    <input type="number" class="form-control" id="dt"
                      [(ngModel)]="paramInit.payload.simulation['time.step']">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="simulation-time" class="col-sm-6 col-form-label">Simulation Horizon</label>
                  <div class="col-sm-6">
                    <input type="number" class="form-control" id="simulation-time"
                      [(ngModel)]="paramInit.payload.simulation['simulation.time']">
                  </div>
                </div>
                <div class="row">
                  <h6>Upload Electricity Timeseries</h6>
                </div>
                <div class="row">
                  <label class="upload-button m-2">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event,0)"
                      [uploadInput]="uploadInput" multiple class="btn btn-primary">
                    <span class="btn btn-primary m-2">{{getFileName(0)}}</span>
                  </label>
                </div>
                <div class="row">
                  <h6>Upload Heat Timeseries </h6>
                </div>
                <div class="row">
                  <label class="upload-button m-2">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event,1)"
                      [uploadInput]="uploadInput" multiple class="btn btn-primary">
                    <span class="btn btn-primary m-2">{{getFileName(1)}}</span>
                  </label>
                </div>
                <div class="row">
                  <button *ngIf="checkDefaultData()" nbButton hero class="m-3" status="info"
                    shape="round">Continue</button>
                  <div *ngIf="!checkDefaultData()" class="requiredField"> {{errorMessage}}</div>
                </div>
              </div>
            </div>
            <div *ngIf="areaPicked" class="col-md-2">
              <div>
                <img [suiTransition]="transitionController1" src="assets/images/grid.png">
              </div>
            </div>
            <div *ngIf="areaPicked" class="col-md-8">
              <ngx-leaflet-map [load]="showMap" [(coordinates)]="coordinates" (coordChange)="setCoord($event)">
              </ngx-leaflet-map>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <div class="row">
      <div class="col-md-12">
        <div class="ui content">
          <ngx-tech-param [(data)]="paramInit" (dataChange)="paramInit" [(pvParam)]="pvParam" [(windParam)]="windParam"
            [defaultValues]="false" (pvChange)="pvParam" (windChange)="windParam" [isLoadModule]="true">
          </ngx-tech-param>
        </div>
      </div>

      <div class="col-md-12">
        <div>
          <nb-card>
            <nb-card-header>Control System</nb-card-header>
            <nb-card-body>
              <div class="form-group row">
                <label for="control-system" class="col-sm-2 col-form-label">Control</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="control-system"
                    [(ngModel)]="+controlSystem.payload.control">
                </div>
              </div>
              <div class="form-group row">
                <label for="control-Curtailment" class="col-sm-2 col-form-label">RES Curtailment</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="control-Curtailment"
                    [(ngModel)]="+controlSystem.payload['RES.curtailment']">
                </div>
              </div>
              <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                  <button nbButton hero status="info" shape="round">Continue</button>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div class="col-md-12">
        <ngx-tech-cost [(data)]="econEnv" (dataChange)="econEnv"></ngx-tech-cost>
      </div>

      <div class="col-md-12">
        <div>
          <nb-card>
            <nb-card-header>Economy Parameters</nb-card-header>
            <nb-card-body>
              <div class="form-group row">
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">NG cost</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_ng.cost" [(ngModel)]="+econEnv.payload['NG.cost']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">€/MWh</label>
              </div>
              <div class="form-group row">
                <label for="ec_sng.cost" class="col-sm-2 col-form-label">SNG cost</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_sng.cost" [(ngModel)]="+econEnv.payload['SNG.cost']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">€/MWh</label>
              </div>
              <div class="form-group row">
                <label for="ec_heat.cost" class="col-sm-2 col-form-label">Heat cost</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_heat.cost"
                    [(ngModel)]="+econEnv.payload['heat.cost']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">€/MWh</label>
              </div>
              <div class="form-group row">
                <label for="ec_carbon" class="col-sm-2 col-form-label">Carbon tax</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_carbon" [(ngModel)]="+econEnv.payload['carbon.tax']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">€/t</label>
              </div>
              <div class="form-group row">
                <label for="ec_ng.emission" class="col-sm-2 col-form-label">NG emission factor</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="ec_ng.emission"
                    [(ngModel)]="+econEnv.payload['NG.emission.factor']">
                </div>
                <label for="ec_ng.cost" class="col-sm-2 col-form-label">%</label>
              </div>
              <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                  <button nbButton hero status="info" shape="round">Continue</button>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <button nbButton type="button" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
          nbSpinnerMessage="" status="success" size="large" class="start-upload-btn m-2" (click)="startUpload()">
          Save Parameters
        </button>
      </div>
    </div>
  </div>
</div>