<nb-card>
    <nb-card-body>
        <ngx-param-header [type]="displayingNode" [types]="nodes" (periodChange)="setPeriodAngGetData($event)"></ngx-param-header>

        <div class="row p-2">
            <div class="col-md-1">
                <label>PV</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][0]" (change)="changeCheckBoxVal(0)" id="techParamCheck1"
                        #techParamCheck1>
                    <label class="label" for="techParamCheck1"></label>
                </section>
            </div>
        </div>

        <div *ngIf="nodeData.payload.technologies[displayingNode]">
            <div class="row" *ngIf="techParamCheck1.checked">
                <div class="col-md-2">
                    <ul class="listItem">
                        <li>
                            <div class="form-group row">
                                <label for="input1" class="col-sm-2 col-form-label">Year</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <nb-select class="m-2" placeholder="Year">
                        <nb-option *ngFor="let year of years" value="year">{{year}}</nb-option>
                    </nb-select>
                </div>
            </div>
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'Capacity'" [label2]="'kW'" (valChange)="capacity=$event"
                [(val)]="capacity"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'System Loss'" [label2]="'%'" (valChange)="systemLoss=$event"
                [(val)]="systemLoss"></ngx-input-field>
            <div class="row" *ngIf="techParamCheck1.checked">
                <div class="col-md-2">
                    <ul class="listItem">
                        <li>
                            <div class="form-group row">
                                <label for="input1" class="col-sm-2 col-form-label">Tracking</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <nb-select *ngIf="techParamCheck1.checked" class="m-2" placeholder="Tracking">
                        <nb-option *ngFor="let trackOpts of trackingOptions" value="trackOpts">{{trackOpts}}</nb-option>
                    </nb-select>
                </div>
            </div>
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'Tilt'" [label2]="'°'" (valChange)="tilt=$event"
                [(val)]="tilt"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'Azimuth'" [label2]="'°'" (valChange)="azimuth=$event"
                [(val)]="azimuth"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck1.checked" [label1]="'Nominal Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].PV['nominal.electric.power']=$event" [(val)]="nodeData.payload.technologies[displayingNode].PV['nominal.electric.power']"></ngx-input-field>
        </div>

        <div class="row p-2">
            <div class="col-md-1">
                <label>WT</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][1]" (change)="changeCheckBoxVal(1)" id="techParamCheck2"
                        #techParamCheck2>
                    <label class="label" for="techParamCheck2"></label>
                </section>
            </div>
        </div>

        <div *ngIf="nodeData.payload.technologies[displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck2.checked" [label1]="'Nominal Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].WT['nominal.electric.power']=$event" [(val)]="nodeData.payload.technologies[displayingNode].WT['nominal.electric.power']"></ngx-input-field>
        </div>

        <div class="row p-2">
            <div class="col-md-1">
                <label>CHP</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][2]" (change)="changeCheckBoxVal(2)" id="techParamCheck3"
                        #techParamCheck3>
                    <label class="label" for="techParamCheck3"></label>
                </section>
            </div>
        </div>

        <div *ngIf="nodeData.payload.technologies[displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck3.checked" [label1]="'Nominal Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].CHP['nominal.electric.power']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].CHP['nominal.electric.power']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck3.checked" [label1]="'Effieciency Electric'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].CHP['efficiency.electric']=$event" [(val)]="nodeData.payload.technologies[displayingNode].CHP['efficiency.electric']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck3.checked" [label1]="'Effieciency Thermal'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].CHP['efficiency.thermal']=$event" [(val)]="nodeData.payload.technologies[displayingNode].CHP['efficiency.thermal']"></ngx-input-field>
        </div>

        <div class="row p-2">
            <div class="col-md-1">
                <label>P2H</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][3]" (change)="changeCheckBoxVal(3)" id="techParamCheck4"
                        #techParamCheck4>
                    <label class="label" for="techParamCheck4"></label>
                </section>
            </div>
        </div>

        <div *ngIf="nodeData.payload.technologies[displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'DH.HP.Nominal Heat Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2H.DH.HP['nominal.heat.power']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2H.DH.HP['nominal.heat.power']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'DH.HP.Cop'" [label2]="'MW'" (valChange)="nodeData.payload.technologies[displayingNode].P2H.DH.HP['cop']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2H.DH.HP['cop']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'DH.EH.Nominal Heat Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2H.DH.EH['nominal.heat.power']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2H.DH.EH['nominal.heat.power']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'DH.EH.Efficiency Thermal'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2H.DH.EH['efficiency.thermal']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2H.DH.EH['efficiency.thermal']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'LHD.HP.Nominal Heat Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2H.LHD.HP['nominal.heat.power']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2H.LHD.HP['nominal.heat.power']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'LHD.HP.Cop'" [label2]="'MW'" (valChange)="nodeData.payload.technologies[displayingNode].P2H.LHD.HP['cop']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2H.LHD.HP['cop']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'LHD.EH.Nominal Heat Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2H.LHD.EH['nominal.heat.power']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2H.LHD.EH['nominal.heat.power']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck4.checked" [label1]="'LHD.EH.Efficiency Thermal'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2H.LHD.EH['efficiency.thermal']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2H.LHD.EH['efficiency.thermal']"></ngx-input-field>
        </div>

        <div class="row p-2">
            <div class="col-md-1">
                <label>P2G</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][4]" (change)="changeCheckBoxVal(4)" id="techParamCheck5"
                        #techParamCheck5>
                    <label class="label" for="techParamCheck5"></label>
                </section>
            </div>
        </div>

        <div *ngIf="nodeData.payload.technologies[displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck5.checked" [label1]="'Nominal Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2G['nominal.electric.power']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2G['nominal.electric.power']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck5.checked" [label1]="'Effieciency Electrolysis'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2G['efficiency.electrolysis']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2G['efficiency.electrolysis']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck5.checked" [label1]="'Effieciency Methanation'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2G['efficiency.methanation']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].P2G['efficiency.methanation']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck5.checked" [label1]="'Effieciency Thermal'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].P2G['efficiency.thermal']=$event" [(val)]="nodeData.payload.technologies[displayingNode].P2G['efficiency.thermal']"></ngx-input-field>
        </div>

        <div class="row p-2">
            <div class="col-md-1">
                <label>EB</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][5]" (change)="changeCheckBoxVal(5)" id="techParamCheck6"
                        #techParamCheck6>
                    <label class="label" for="techParamCheck6"></label>
                </section>
            </div>
        </div>

        <div *ngIf="nodeData.payload.technologies[displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck6.checked" [label1]="'Storage Electric Capacity'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].EB['storage.electric.capacity']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].EB['storage.electric.capacity']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck6.checked" [label1]="'Efficiency Charge'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].EB['efficiency.charge']=$event" [(val)]="nodeData.payload.technologies[displayingNode].EB['efficiency.charge']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck6.checked" [label1]="'Efficiency Discharge'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].EB['efficiency.discharge']=$event" [(val)]="nodeData.payload.technologies[displayingNode].EB['efficiency.discharge']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck6.checked" [label1]="'C Rate'" [label2]="'MW'" (valChange)="nodeData.payload.technologies[displayingNode].EB['c.rate']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].EB['c.rate']"></ngx-input-field>
        </div>

        <div class="row p-2">
            <div class="col-md-1">
                <label>G2H</label>
            </div>
            <div class="col-md-2">
                <section class="slider-checkbox">
                    <input type="checkbox" [checked]="checkVal[displayingNode][6]" (change)="changeCheckBoxVal(6)" id="techParamCheck7"
                        #techParamCheck7>
                    <label class="label" for="techParamCheck7"></label>
                </section>
            </div>
        </div>

        <div *ngIf="nodeData.payload.technologies[displayingNode]">
            <ngx-input-field [isChecked]="techParamCheck7.checked" [label1]="'DH.Nomial Heat Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].G2H.DH['nomial.heat.power']=$event" [(val)]="nodeData.payload.technologies[displayingNode].G2H.DH['nomial.heat.power']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck7.checked" [label1]="'DH.Efficiency Thermal'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].G2H.DH['efficiency.thermal']=$event" [(val)]="nodeData.payload.technologies[displayingNode].G2H.DH['efficiency.thermal']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck7.checked" [label1]="'LHD.Nomial Heat Power'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].G2H.LHD['nomial.heat.power']=$event" [(val)]="nodeData.payload.technologies[displayingNode].G2H.LHD['nomial.heat.power']"></ngx-input-field>
            <ngx-input-field [isChecked]="techParamCheck7.checked" [label1]="'LHD.Efficiency Thermal'" [label2]="'MW'"
                (valChange)="nodeData.payload.technologies[displayingNode].G2H.LHD['efficiency.thermal']=$event"
                [(val)]="nodeData.payload.technologies[displayingNode].G2H.LHD['efficiency.thermal']"></ngx-input-field>
        </div>

    </nb-card-body>
</nb-card>