<div class="row">
  <div class="col">

    <nb-card accent="active">
      <nb-card-body>

        <h2>
          PLANET REST Parameters
        </h2>
        <hr>
        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (stringValChange)="planetRestIP=$event"
          [(val)]="planetRestIP" [compId]="'planetRestIP'" [inputHtmlLabel1]="'PLANET\'s REST IP'" [type]="'string'">
        </ngx-input-field>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (valChange)="planetRestPort=+$event"
          [(val)]="planetRestPort" [compId]="'planetRestPort'" [inputHtmlLabel1]="'PLANET\'s REST Port'">
        </ngx-input-field>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''"
          (stringValChange)="simulationMachine=$event" [(val)]="simulationMachine" [compId]="'simulationMachine'"
          [inputHtmlLabel1]="'Simulations\' Machine IP'" [type]="'string'">
        </ngx-input-field>

        <hr>

        <h2>
          Middleware Parameters
        </h2>

        <hr>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (stringValChange)="sitewhereIP=$event"
          [(val)]="sitewhereIP" [compId]="'sitewhereIP'" [inputHtmlLabel1]="'Sitewhere Installation IP'"
          [type]="'string'">
        </ngx-input-field>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (valChange)="sitewhereUIPort=+$event"
          [(val)]="sitewhereUIPort" [compId]="'sitewhereUIPort'" [inputHtmlLabel1]="'Sitewhere Installation UI Port'">
        </ngx-input-field>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (valChange)="sitewhereMQTTPort=+$event"
          [(val)]="sitewhereMQTTPort" [compId]="'sitewhereMQTTPort'"
          [inputHtmlLabel1]="'Sitewhere Installation MQTT Port'">
        </ngx-input-field>

        <hr>

        <h2>
          MongoDB Parameters
        </h2>

        <hr>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (stringValChange)="mongoIP=$event"
          [(val)]="mongoIP" [compId]="'mongoIP'" [inputHtmlLabel1]="'MongoDB\'s IP'" [type]="'string'">
        </ngx-input-field>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (valChange)="mongoPort=+$event"
          [(val)]="mongoPort" [compId]="'mongoPort'" [inputHtmlLabel1]="'MongoDB\'s Port'">
        </ngx-input-field>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (stringValChange)="mongoUser=$event"
          [(val)]="mongoUser" [compId]="'mongoUser'" [inputHtmlLabel1]="'MongoDB PLANET UserName'" [type]="'string'">
        </ngx-input-field>

        <ngx-input-field class="m-2" [inputType]="'password'" [isChecked]="true" [inputHtmlLabel2]="''"
          (stringValChange)="mongoPassword=$event" [(val)]="mongoPassword" [compId]="'mongoPassword'"
          [inputHtmlLabel1]="'MongoDB Password'" [type]="'string'">
        </ngx-input-field>

        <ngx-input-field class="m-2" [isChecked]="true" [inputHtmlLabel2]="''" (stringValChange)="mongoAuthDB=$event"
          [(val)]="mongoAuthDB" [compId]="'mongoAuthDB'" [inputHtmlLabel1]="'MongoDB Authentication DB'"
          [type]="'string'">
        </ngx-input-field>

      </nb-card-body>
    </nb-card>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <button nbButton type="button" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
          nbSpinnerMessage="" status="success" size="large" class="start-upload-btn m-2" (click)="startUpload()">
          Save Parameters
        </button>
      </div>
      <div class="col-md-2">
        <div *ngIf="saveMessage!==''" [ngClass]="{
          'errorTextarea': saveMessage.includes('Error'),
          'successTextarea': !saveMessage.includes('Error')
        }">
          {{saveMessage}}
        </div>
      </div>
    </div>

  </div>
</div>