<div class="row">
  <div class="col">

    <nb-card accent="primary">
      <nb-card-header>Registered users</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <ng2-smart-table *ngIf="users" [settings]="userSettings" [source]="userSource"
              (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)=validateEdit($event)>
            </ng2-smart-table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">
            <button nbButton hero status="success" class="m-4">Update User
              Table</button>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card accent=" primary">
      <nb-card-header>Pending Requests</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>

  </div>
</div>