<div class="row">
  <div class="col">

    <nb-card accent="primary">
      <nb-card-header>Registered users</nb-card-header>
      <nb-card-body>
        <ng2-smart-table *ngIf="users" [settings]="userSettings" [source]="userSource">
        </ng2-smart-table>

        <!-- <nb-list *ngIf="users">
          <nb-list-item>
            <div class="row">
              <div class="col-md-4">
                <label class="header">Full Name</label>
              </div>
              <div class="col-md-4">
                <label class="header">Email</label>
              </div>
              <div class="col-md-4">
                <label class="header" [ngStyle]="{'margin-left': '1rem'}">Role</label>
              </div>
            </div>

          </nb-list-item>
          <nb-list-item class="contact" *ngFor="let user of users['userList']">
            <div class="row">
              <div class="col-md-4">
                <nb-user [picture]="user.image" [name]="user.fullName" [title]="getUserRole(user.isAdmin)" size="large">
                </nb-user>
              </div>
              <div class="col-md-4 items">
                <label>{{user.email}}</label>
              </div>
              <div class="col-md-4 items">
                <label>{{getUserRole(user.isAdmin)}}</label>
              </div>
            </div>

          </nb-list-item>
        </nb-list> -->

      </nb-card-body>
    </nb-card>

    <nb-card accent="primary">
      <nb-card-header>Pending Requests</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
</div>